:root .browserSidebarContainer {
  margin: unset !important;
  box-shadow: unset !important;
  clip-path: unset !important;
  border-radius: unset !important;
  overflow: unset !important;
}

/* Remove Zen element separation */
:root {
  --zen-element-separation: 0px !important;
}

#TabsToolbar {
  font-family: Tabac Sans, sans-serif !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}

.urlbar-input-box,
.urlbarView-url {
  font-family: BlexMono Nerd Font Propo, monospace !important;
  font-weight: 800 !important;
}

#urlbar-results {
  font-family: BlexMono Nerd Font Propo, monospace !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  max-height: 460px !important;
}

.urlbarView-title > strong {
  color: #cc241d;
}

.urlbarView-row {
  margin: 4px 2px !important;
}
/* create an agenda for the .urlbarView-row type= */
.urlbarView-row[type="switchtab"] {
  background-color: #82ac7233;
  border: solid 1px #8ec07cee !important;
}
.urlbarView-row[type="adaptive-history"] {
  background-color: #50494555;
  border: solid 1px #6e625b !important;
}
.urlbarView-row[type="bookmark"] {
  background-color: #83a59833;
  border: solid 1px #83a598ee !important;
}

.urlbarView-row[type="switchtab"]::after {
  content: "";
  font-size: 20px;
  margin: 0 5px 0 0;
}
.urlbarView-row[type="adaptive-history"]::after {
  content: "";
  font-size: 20px;
  margin: 0 5px 0 0;
}
.urlbarView-row[type="bookmark"]::after {
  content: "󰸕";
  font-size: 20px;
  margin: 0 5px 0 0;
}

.urlbarView-switchToTab,
.urlbarView-row-buttons { display: none !important; }

.search-panel-one-offs-header,
.search-panel-header { display: none !important; }

/* === Three coloured circles inside the URL bar (always visible) === */
.urlbar-input-container {
  position: relative;
}

#tabbrowser-tabpanels[zen-split-view="true"] .browserSidebarContainer.deck-selected {
  &:not(.zen-glance-overlay) {
    outline: 1px solid color-mix(in srgb, var(--zen-primary-color) 35%, transparent) !important;
  }
}

:root[zen-single-toolbar="true"]:not([customizing]) {
  & #zen-appcontent-navbar-wrapper {
    &[should-hide="true"] {
      height: calc(var(--zen-element-separation) + 0.1px) !important;
    }
  }
}

.titlebar-buttonbox {
  display: none !important;
}

/*** Remove items from image context menu ***/
/* Email Image... */
#context-sendimage,
/* Set Image as Desktop Background... (and preceding separator) */
#context-sep-setbackground,
#context-setDesktopBackground,
/* Inspect Accessibility Properties */
#context-inspect-a11y {
  display: none !important;
}
